h3 {
  display: flex;
  justify-content: center;
}

p{
  display: flex;
  /* justify-content: center; */
}

#trip-details {
  /* margin: 0px 25px; */
  border-radius: 5px;
  margin: 30px 25px;
  padding: 5px;
  padding: 150px;
  border-radius: 5px;
  padding: 10px 35px;
  border: rgb(38, 178, 196) solid 2px;
}

ul {
  list-style-type: none;
  padding-right: 35px;
  }

li {
  /* text-align: center; */
  }

#footer {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color:  rgb(38, 178, 196);
  font-size: 15px;
  padding: 10px 15px;
  border-color: rgb(38, 178, 196);
  width: 120px;
  margin-bottom: 25px;
}