<app-navbar></app-navbar>

<!-- <h2> Trip to: {{ trip.trip.place }} </h2> -->
<div id="trip-details">

  <p>Start Date: {{ trip?.trip.startDate | date:'dd/MM/yy' }}</p>

  <p>End Date: {{ trip?.trip.endDate | date:'dd/MM/yy' }}</p>

  <p>Created by:
    <a [routerLink]="['/profile']"> {{ trip?.user.username }} </a>
  </p>





  <p>Description: </p>
  <p>{{ trip?.trip.description }}</p>

  <p>Cost: {{ trip?.trip.cost }}</p>



  <p>Available Spaces: {{availableSpaces}}</p>



  <p>Attendees: </p>
  <ul>
    <li *ngFor="let attendee of attendees">
      {{attendee}}
    </li>

  </ul>


  <p>{{ trip?.trip.attendees }}</p>

</div>

<div id="footer">
  <button (click)="back()">Back</button>

  <div *ngIf="attendingTrip===true ">
    <button (click)="cancelTrip()">Cancel Trip</button>
  </div>

  <div *ngIf="attendingTrip==false ">
    <button (click)="joinTrip()">Join Trip</button>
  </div>

</div>