button {
  font-size: 50px;
  display: flex;
  background-color:rgb(123,212,213);
  padding: 10px;
  margin: 20px 0px;
  width: 80%;
  color: rgb(239, 231, 208);
  align-items: center;
  justify-content: center;
  height: 100px;
}




.page {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}