button {
  font-size: 50px;
  display: flex;
  background-color:rgb(38, 178, 196);
  border-color: rgb(38, 178, 196);
  padding: 10px;
  margin: 20px 0px;
  width: 80%;
  color: rgb(239, 231, 208);
  align-items: center;
  justify-content: center;
  height: 100px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/* colors used: 
rgb(224, 219, 142), ->Beige
rgb(38, 178, 196), -> light Blue
rgb(0, 129, 144), -> Dark Blue 
rgb(239, 231, 208); -> white text*/


/* button {
  background-color: rgb(0, 129, 144);
  font-size: 15px;
  padding: 10px 15px;
  border-color: rgb(0, 129, 144);
  width: 120px;
  margin-bottom: 25px;
} */