
  
button {
  display: flex;
  padding: 10px;
  background-color: rgb(38, 178, 196);
  border-color:  rgb(38, 178, 196);
  color: rgb(239, 231, 208);
  font-size: 15px;
  width: 150px;
  justify-content: center;
}

#button-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

  
input {
  width: 80%;
  background: rgb(203, 231, 250);
  border: 1px solid #333;
  padding: 5px 10px;
  font-size: 15px;
}
  

  
  h2 {
    display: flex;
    justify-content: center;
  }
  
  p {
    display: flex;
    justify-content: center;
  }