<form (ngSubmit)="signUpUser(newUser)" #newUser="ngForm" novalidate>
  <h2>Sign Up</h2>
  <p> User Name: </p>
  <p>
    <input type="text" name="username" [(ngModel)]="username" required />
  </p>

  <p> Level of surf:</p>
  <p>
    <input type="text" name="experienceLevel" [(ngModel)]="experienceLevel" required />
  </p>

  <p> Description:</p>
  <p>
    <input type="text" name="description" [(ngModel)]="description" required />
  </p>

  <p> Email Address:</p>
  <p>
    <input type="email" name="email" [(ngModel)]="email" required />
  </p>

  <p> Password:</p>
  <p>
    <input type="password" name="password" [(ngModel)]="password" required #userPassword="ngModel" minlength="6" />
  </p>

  <div *ngIf="userPassword.errors && (userPassword.dirty || userPassword.touched)">
    <p class="error" [hidden]="!userPassword.errors.minlength">
      Password must be at least 6 characters.
    </p>
  </div>

  <button type="submit"> Sign Up </button>
</form>