<P>SIGN UP COMPONENT</P>


<form (ngSubmit)="signUpUser(newUser)" #newUser="ngForm" novalidate>
  <p> Name:
    <input type="text" name="userName" [(ngModel)]="userName" required />
  </p>

  <p> Level of surf:
    <input type="text" name="experienceLevel" [(ngModel)]="experienceLevel" required />
  </p>

  <p> Description:
    <input type="text" name="description" [(ngModel)]="description" required />
  </p>

  <p> Email Address:
    <input type="text" name="emailAddress" [(ngModel)]="emailAddress" required />
  </p>

  <p> Password:
    <input type="password" name="password" [(ngModel)]="password" required #userPassword="ngModel" minlength="6" />
  </p>

  <div *ngIf="userPassword.errors && (userPassword.dirty || userPassword.touched)">
    <p class="error" [hidden]="!userPassword.errors.minlength">
      Password must be at least 6 characters.
    </p>
  </div>

  <button type="submit"> Sign Up </button>
</form>