<form novalidate>
  <h2>Sign Up</h2>

  <p> User Name: </p>
  <p>
    <input type="text" name="username" [(ngModel)]="newUser.username" required />
  </p>

  <p> Level of surf:</p>
  <p>
    <input type="text" name="experienceLevel" [(ngModel)]="newUser.experienceLevel" required />
  </p>

  <p> Description:</p>
  <p>
    <input type="text" name="description" [(ngModel)]="newUser.description" required />
  </p>

  <p> Email Address:</p>
  <p>
    <input type="email" name="email" [(ngModel)]="newUser.email" required />
  </p>

  <p> Password:</p>
  <p>
    <input type="password" name="password" [(ngModel)]="newUser.password" required #userPassword="ngModel" minlength="6" />
  </p>

  <div *ngIf="userPassword.errors && (userPassword.dirty || userPassword.touched)">
    <p class="error" [hidden]="!userPassword.errors.minlength">
      Password must be at least 6 characters.
    </p>
  </div>

  <div id="button-div">
    <button (click)="signUpUser()" type="button">Sign Up</button>
  </div>
</form>