<!-- ----------------- NAV BAR START ----------------- -->
<h5>Hello, {{user?.username}}
  <button (click)="logout()">Logout</button>
</h5>
<div *ngIf="!login">
  <!-- if user is logged in -->
  <div class="topnav" id="myTopnav">
    <a [routerLink]="['/trips']">Trips</a>
    <a [routerLink]="['/create']">Create</a>
    <a [routerLink]="['/profile']">Profile</a>
    <!--profile/{{user._id}}-->


  </div>



</div>

<!-- if user is not logged in -->

<!-- <div class="topnav " id="myTopnav ">
  <a href="trips ">Trips</a>
  <a href="/ ">Register/Login</a>

</div> -->

<!-- ----------------- NAV BAR END ----------------- -->