.topnav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(38, 178, 196);
  color: rgb(239, 231, 208);
}

.topnav a {
  text-decoration: none;
  color: rgb(239, 231, 208);
  /* color: #000000; */
  letter-spacing: 1px;
  font-size: 15px;
}

h5 {
  text-align: center;
}

#userLogout {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

button {
  font-size: 13px;
  color: rgb(239, 231, 208);
}