<app-navbar></app-navbar>

<h3>Profile</h3>

<section id="profileInfo">

  <p>
    <label>Name:</label> {{user?.username }}</p>

  <p>
    <label>Surf Level:</label> {{user?.experienceLevel}}</p>

  <p>
    <label>Description:</label>
  </p>

  <p>{{user?.userDescription}}</p>

  <!--
    <li *ngFor="let trip of trips" a [routerLink]="['/trips', trip._id]">

    <p>{{ trip.name }}</p> 



  </li>
-->


  <!-- <p>{{user?.tripsCreated | json}} </p> -->

</section>

<!--
<div *ngIf="attending">
  <h3>Trips Attending:</h3>

  <section>

    <ul *ngIf="attending.length">
      <li *ngFor="let trip of attending">
        <a [routerLink]="['/trips', trip._id]">{{trip|json}}</a>
      </li>
    </ul>
    <div *ngIf="!attending.length">You are not yet attending any trips.
      <a [routerLink]="['/trips']">Find one to join</a>.</div>

  </section>
</div>

<div *ngIf="created">
  <h3>Trips Created: </h3>

  <section>

    <ul *ngIf="created.length">
      <li *ngFor="let trip of created">
        <a [routerLink]="['/trips', trip._id]">{{trip|json}}</a>
      </li>
    </ul>
    <div *ngIf="!created.length">You have not yet created a trip.
      <a [routerLink]="['/create']">Create one now</a>.</div>

  </section>
</div>

-->