<app-navbar></app-navbar>
<h3>Create a trip</h3>


<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>

  <p>Place: </p>
  <p>
    <input type="text" name="place" [(ngModel)]="trip.place" required />
  </p>
  <!-- 
  <p>Lng:
    <input type="number" name="lng" [(ngModel)]="lng" required />
  </p>

  <p>Lat:
    <input type="number" name="lat" [(ngModel)]="lat" required />
  </p> -->

  <p> Start Date:</p>
  <p>
    <input type="date" name="startDate" [(ngModel)]="trip.startDate" required />
  </p>

  <p> End Date: </p>
  <p>
    <input type="date" name="endDate" [(ngModel)]="trip.endDate" required />
  </p>

  <p> Description: </p>
  <p>
    <input type="string" name="description" [(ngModel)]="trip.description" required />
  </p>

  <p> Cost: </p>
  <p>
    <input type="number" name="cost" [(ngModel)]="trip.cost" required />
  </p>

  <p> Number of Spots Available: </p>
  <p>
    <input type="number" name="availableSpots" [(ngModel)]="trip.availableSpots" required />
  </p>

  <button type="submit"> Create Event </button>
</form>