button {
  display: flex;
justify-content: center;
  background-color:rgb(0, 129, 144);
  border-color: rgb(0, 129, 144);
  width: 150px;
  padding: 10px 15px;
  margin: 20px 0px;
  color: rgb(239, 231, 208);
  font-size: 15px;
  text-align: center;
}

#buttonId {
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
}


h3 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

#formInput {
  background-color: rgb(224, 219, 142);
  text-align: center;
  margin: 30px;
  /* padding: 150px; */
  border-radius: 5px;
  padding: 10px 35px;
}