button {
  display: flex;
  justify-content: center;
  background-color:rgb(38, 178, 196);
  border-color: rgb(38, 178, 196);
  width: 150px;
  padding: 10px 15px;
  margin: 20px 0px;
  color: rgb(239, 231, 208);
  font-size: 15px;
  text-align: center;
}

form {
  border: rgb(38, 178, 196) solid 2px;
  border-radius: 5px;
  margin: 30px 33px;
  padding: 5px;
}

#button-box {
  display: flex;
  justify-content: center;
}
  
input {
  width: 80%;
  background: rgb(203, 231, 250);
  border: 1px solid #333;
  padding: 5px 10px;
  font-size: 15px;
}
  


h3 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

#formInput {
  background-color: rgb(224, 219, 142);
  text-align: center;
  margin: 30px;
  /* padding: 150px; */
  border-radius: 5px;
  padding: 10px 35px;
}