.topnav {
background-color:skyblue;
display: flex;
justify-content: space-around;
font-family: helvetica;
}

.topnav a {
    color: white;
    font: helvetica;
}

h1 {
    color: rgb(38, 178, 196);
    text-align: center;
    font-family: helvetica;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

