<h1>
  {{ title }}
</h1>
<!-- ----------------- NAV BAR START ----------------- -->

<div *ngIf="!login">..
  <!-- if user is logged in -->
  <div class="topnav" id="myTopnav">
    <a class="active" href="#home">Home</a>
    <a href=".">Trips</a>
    <a href=".">Create</a>
    <a href=".">Profile</a>
    <a href=".">Logout</a>
  </div>

</div>

<!-- if user is not logged in -->

<div class="topnav" id="myTopnav">
  <a class="active" href="#home">Home</a>
  <a href=".">Trips</a>
  <a href="auth/auth">Register/Login</a>

</div>

<!-- ----------------- NAV BAR END ----------------- -->

<router-outlet></router-outlet>