.topnav {
background-color:skyblue;
display: flex;
justify-content: space-around;
font-family: helvetica;
}

.topnav a {
    color: white;
    font: helvetica;
}

h1 {
    color: rgb(239, 231, 208);
    text-align: center;
    font-family: helvetica;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}


#login-button {
    font-size: 30px;
    color: darkblue;
    background-color: lightblue;
    padding: 20px;
    width: 280px;
}

#signup-button {
    font-size: 30px;
    color: darkblue;
    background-color: lightblue;
    padding: 20px;
    width: 280px;
}
