

button {
  display: flex;
  padding: 10px;
  background-color: rgb(38, 178, 196);
  border-color:  rgb(38, 178, 196);
  color: rgb(239, 231, 208);
  font-size: 15px;
  width: 150px;
  justify-content: center;
}

  
input {
  width: 80%;
  background: rgb(203, 231, 250);
  border: 1px solid #333;
  padding: 5px 10px;
  font-size: 15px;
}
  
.button-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

a {
  /* text-decoration: none; */
  color: black;
  display: flex;
  justify-content: center;
}


/* colors used: 
rgb(224, 219, 142), ->Beige
rgb(38, 178, 196), -> light Blue
rgb(0, 129, 144), -> Dark Blue 
rgb(239, 231, 208); -> white text*/
