

button {
  display: flex;
  padding: 10px;
  background-color: rgb(0, 129, 144);
  border-color:  rgb(0, 129, 144);
  font-size: 15px;
  width: 150px;
  justify-content: center;
}

input {
  width: 80%;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

a {
  /* text-decoration: none; */
  color: black;
  display: flex;
  justify-content: center;
}


/* colors used: 
rgb(224, 219, 142), ->Beige
rgb(38, 178, 196), -> light Blue
rgb(0, 129, 144), -> Dark Blue 
rgb(239, 231, 208); -> white text*/
