/* You can add global styles to this file, and also import other style files */
body {


  /* background-color:linear-gradient(to right,#36D1DC, #5B86E5); */
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(to bottom right,#36D1DC,#5B86E5);
  height: 
}

.topnav
{
  /* background-color: #CCCCCC;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000; */
  display: flex;
  justify-content: space-around;
}

.topnav a
{
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
}

/* background-color: rgb(38, 178, 196); */