
body {
  background-color: rgb(38, 178, 196);
  /* background: linear-gradient(to bottom right,#36D1DC,#5B86E5); */
  font-family: 'Nunito', sans-serif;
  height: 
}



/* 
colors used: 
rgb(224, 219, 142), ->Beige
rgb(38, 178, 196), -> light Blue
rgb(0, 129, 144), -> Dark Blue */