#upcoming-trips{
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding-right: 35px;
  }

li {
  background-color: white;
  margin: solid 2px;
  }