#upcoming-trips{
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding-right: 35px;
  }

li {
  background-color: rgb(224, 219, 142);
  text-align: center;
  margin: 30px 0px;
  padding: 5px;
  border-radius: 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }